/*lato google font*/
.lato-thin {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.lato-light {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.lato-regular {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.lato-bold {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.lato-black {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.lato-thin-italic {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.lato-light-italic {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.lato-regular-italic {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.lato-bold-italic {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.lato-black-italic {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: italic;
}

body {
  margin: 0;
}

.navbar {
  background-color: black;
  overflow: hidden;


}

.navbar a {
  text-decoration: none;
  color: white;
  text-align: right;
}

.navbar ul li {
  list-style-type: none;
  display: inline;
  margin: 20px;
  padding: 0 30px 0 30px;
}

.navbar img {
  width: 10%;
}

/*slideshow*/

.container {
  height: 600px;
  max-height: 100%;
  overflow: hidden;
}

.mySlides img {
  max-width: 100%;
  max-height: 600px;
  overflow: hidden;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: black;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
  background-color: #f2f2f2;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(255, 255, 255, 0.8);
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

.mySlides {
  animation: fadeIn 0.5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.ramen_preview_section {
  color: mintcream;
  text-align: center;
  overflow: hidden;
  background: black;
}

#ramen_preview_title {
  letter-spacing: 10px;
}

/*home page slider previews */
.slider {
  width: 100%;
  height: 300px;
  position: relative;
  text-align: center;
  justify-content: space-between;
  background-color: #222222;
}

.slider img {
  width: 13%;
  height: 60%;
  position: relative;
  margin: 0 0 0 auto;
  padding: 5% 5%;
  border-radius: 50%;
}


.slider img:first-child {
  z-index: 1;
}

.slider img:nth-child(2) {
  z-index: 0;
}

/* menu button span area */
.menubutton {
  background-color: black;
  padding: 100px auto;
  width: 100%;
  height: auto;
}

/* actual menu button styling */
#button1 {
  background-color: black;
  color: white;
  text-decoration: none;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  justify-content: center;
}

#button1 a {
  color: white;
  text-decoration: none;
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: normal;
}

.menubuttonarea {
  background-color: black;
}

.section {
  position: relative;
  float: left;
  text-align: center;
  justify-content: center;
  width: 50%;
}

.section .pic-right {
  height: 500px;
  margin-right: 20px;
}

.section .pic-right p {
  font-size: 30px;
}

.section .pic-right img {
  display: inline-block;
  max-width: 50%;
}